<!DOCTYPE html>

<html lang="en">

<head>
    <title>
        <%= bot.name%>
    </title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <meta property="og:title" content="<%= bot.name%>" />
    <meta property="og:description" content="the all-purpose open source discord bot for CWH11's Hangout Crew" />
    <meta property="og:url" content="https://knightrider.invalidlag.com" />

    <!-- we need this -->
    <meta property="og:image" content="/logo.png" />
    <link rel="shortcut icon" href="/logo.png" />
    <meta content="" data-react-helmet="true" name="theme-color" />


    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <script defer src="/js/client.js"></script>

</head>

<body>
    <div id="navbarsdiv">
        <div id="mobilenavbar" class="mobnav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <a onclick="closeNav()" href="/">Home</a>
            <a onclick="closeNav()" href="/dashboard">Dashboard</a>
            <a onclick="closeNav()" href="/er">Report Error</a>
        </div>

        <div id="nav" class="navbar">
            <span class="nav-brand">
               <!--<img class="nav-img" width="50" height="50" src="/assets/img/logo.png" />-->
               <h3 class="nav-img" style="color:#ffff;"><a>KnightRidr</a></h3>
            </span>
            <ul class="desktop-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/dashboard">dashboard</a></li>
                <li><a href="/er">report error</a></li>
            </ul>
            <span class="mobilenavbtn" onclick="openNav()">&#9776;</span>
        </div>
    </div>
    <div class="header">
        <h1>
            <%= bot.name %>
        </h1>
        <p>the all-purpose open source discord bot for CWH11's Hangout Crew.</p>
    </div>
    <div class="content">
        <div class="main">

            <h4>hi :)</h4>

            <p>knightrider is one of them all-purpose bots it's a bit like dyno but simpler and open-source.</p>
            <p>if you plan on using this code for your server keep in mind the license and that while knightrider is opensource it was specifically designed for CWH11's Hangout Crew and also this bot is not optimized to have 100s of servers just 5 - 10
                <br><br> if you would like to report an error go to <a href="/er">https://knightrider.invalidlag.com/er</a> if you found the code helpful consider <a href="https://github.com/404invalid-user/knightrider">giving it a star</a> or <a href="https://github.com/404invalid-user/knightrider">contribute</a>                to it.</p>

        </div>
    </div>

    <div class="footer">
        <p>knightrider &#169; <a herf="https://invalidlag.com">404invalid-user</a></p>
    </div>

</body>

</html>