<script defer src="/js/client.js"></script>
<div id="mobilenavbar" class="mobnav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a onclick="closeNav()" href="http://knightrider.rf.gd/">Home</a>
    <a onclick="closeNav()" href="http://knightrider.rf.gd/er/">Report Error</a>
    <a onclick="closeNav()" href="http://knightrider.rf.gd/docs/">Docs</a>
</div>
<div id="nav" class="navbar">
    <div class="user">
        <img class="userimg" src="<%= currentUser.avatar%>" />
        <span class="usercaption">welcome <%= currentUser.userName %></span>
    </div>
    <ul class="desktop-nav">
        <li class="active"><a href="http://knightrider.rf.gd/">Home</a></li>
        <li><a href="http://knightrider.rf.gd/er/">Report Error</a></li>
        <li><a href="http://knightrider.rf.gd/docs/">Docs</a></li>
    </ul>
    <span class="mobilenavbtn" style="color:#ffffff;font-size:30px;cursor:pointer;float:right;margin-right:3.5%;" onclick="openNav()">&#9776;</span>
</div>