<footer style="position:relative;bottom:0;width:100vm;height:35px;padding-left: 20px">
    <p>knightrider bot &#174;
        <a style="color: rgb(255, 255, 255);" href="http://invalidlag.com">invalidlag</a></p>
</footer>